<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fac.css">
    <title>Document</title>
</head>
<body>
    <h1>Faculte D'Informatique</h1>
    <div>
        
        <table>
            <thead>
                <tr >
                    <th>Id</th>
                    <th>nom</th>
                    <th>postnom</th>
                    <th>prenom</th>
                    <th>sexe</th>
                    <th>promotion</th>
                </tr>
    
            </thead>
    
            <tbody >
                <tr class="sss">
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                   
                </tr>
                <tr class="sss">
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                   
                </tr>
                <tr class="sss">
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                   
                </tr>
                <tr class="sss">
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                   
                </tr>
                <tr class="sss">
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    
                </tr>
                <tr class="sss">
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    
                </tr>
                <tr class="sss">
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    
                </tr>
                <tr class="sss">
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    
                </tr>
                <tr class="sss">
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    
                </tr>
                <tr class="sss">
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    <td class="xxx"> </td>
                    
                </tr>
            </tbody>
           
        </table>

    </div>
    
   
</body>
</html>