{% load static %}
<!DOCTYPE html>
<html lang="Fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<header> 
    <a href="/list/" class="ppp">Inscrit</a>  <a href="faculte.html" class="pv">Informatique</a>   

</header>
<body>
    <div class="all">
        <form class="" method="POST" action="/save/" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <h1>Inscription</h1>
                <tr>
                    <td class="ligne">
                        <input type="text" placeholder="nom" class="bb" name="nom">
                        
                    </td>
                    <td class="ligne">
                        <input type="text" placeholder="postnom" name="postnom">
                    </td>
                    <td class="ligne">
                        <input type="text" placeholder="prenom" name="prenom">
                    </td>
                    <tr>
                        <td class="ligne">
                            <input type="text" placeholder="sexe" class="bb" name="sexe">
                        </td>
                        <td class="ligne">
                            <input type="file" placeholder="image" name="image">
                        </td>
                       
                       
                    </tr>    
                    
                </tr>
                       
                
            </table>

            <input type="submit" class="btn" value="Enregistrer"/><br>
            
        </form>
    </div>
    
       
                

          
           


</body>
</html>